.footer {
  margin-top: 100px;
  padding: 497px 0 77px;
}

.footer__title {
  color: var(--main, #fe772d);
  text-align: center;
  font-family: 'Jolly Lodger';
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 81.2px */
  text-transform: uppercase;
}

.arabic .footer__title {
  color: var(--main, #fe772d);
  text-align: center;
  font-family: 'Digi Nozha2 Bold';
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 89.6px */
  text-transform: uppercase;
}

.media__list {
  padding: 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.media__icon {
  width: 40px;
  height: 40px;
}
